<div class="col-sm-3 visible-lg sidenav">
    <h4>Welcome Admin</h4>
    <ul class="nav nav-pills nav-stacked">
        <li class=<%= (activeNav == 'home') ? 'active': '' %>><a href="/dashboard"><span class="fa fa-home"></span> Home</a></li>
        <li class=<%= (activeNav == 'class') ? 'active': '' %>><a href="/dashboard/classes"><span class="fa fa-desktop"></span> Manage Class</a></li>
        <li class=<%= (activeNav == 'subject') ? 'active': '' %>><a href="/dashboard/subjects"><span class="fa fa-book"></span> Manage Subjects</a></li>
        <li class=<%= (activeNav == 'timetable') ? 'active': '' %>><a href="/dashboard/timetable"><span class="fa fa-list-alt"></span> Manage Timetable</a></li>
        <li class=<%= (activeNav == 'student') ? 'active': '' %>><a href="/student" target="_blank"><span class="fa fa-file"></span> View Timetables</a></li>
        <li  onClick="window.print()"><a href="#new"><span class="fa fa-print"></span> Print Page</a></li>
    </ul><br>
    
</div>
<br>