<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/assets/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet">
    <title>Document</title>
    <style>
        .navbar {
            margin-bottom: 0;
            background-color: #4700b3;
            z-index: 9999;
            border: 0;
            font-size: 12px !important;
            line-height: 1.42857143 !important;
            letter-spacing: 4px;
            border-radius: 0;
            font-family: Montserrat, sans-serif;
        }

        .navbar li a,
        .navbar .navbar-brand {
            color: #fff !important;
        }

        .navbar-nav li a:hover,
        .navbar-nav li.active a {
            color: #4700b3 !important;
            background-color: #fff !important;
        }

        .navbar-default .navbar-toggle {
            border-color: transparent;
            color: #fff !important;
        }
    </style>
</head>

<body>
<% include ./partials/navbar %>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row content">
            <%- include('./partials/sidebar', {activeNav: 'subject'}); %>
                <div class="col-sm-9 container-fluid ">
                <% include ./partials/breadcrumb %>
                <h2>
                    <%= 'Editing Subject: ' + onesubject.name %>
                </h2>
                <div class="col-sm-12 well dark">
                    <form method="post" class="admin-form " action="/dashboard/subjects/edit/<%= onesubject._id%>?_method=PUT">
                        <input type="hidden" name="_id" value="<%= onesubject._id %>" />
                        <div class="form-group col-sm-6">
                            <label for="name">Class Name</label>
                            <input type="text" name="name" class="form-control" value="<%= onesubject.name %>" />
                        </div>

                        <div class="form-group col-sm-6">
                            <label for="status">Status</label>
                            <div class="col-sm-12 radio-group">
                                <input type="radio" name="status" value="true"
                                    <% if(onesubject.status) { %> <%= 'checked' %>
                                    <% } %>> &nbsp;
                                <span>Active</span>
                                <span class="space"></span>
                                <input type="radio" name="status" value="false"
                                    <% if(!onesubject.status) { %> <%= 'checked' %>
                                    <% } %>> &nbsp;
                                <span>In Active</span>
                            </div>
                        </div>

                        <div class="col-sm-12 form-group"></div>
                        <div class="form-group col-sm-6">
                            <label for="status" class="text-primary">Associated Class</label>
                            <br />
                            <% if(onesubject.class) { %>
                                <% for(let i=0; i < onesubject.class.length; i++) { %>
                                    <div class="col-sm-3 radio-group">
                                        <input type="checkbox" name="class" value="<%= onesubject.class[i]._id %>" checked> &nbsp;
                                        <span class="text-primary"> <%= onesubject.class[i].name %></span>
                                        <label for="sel1">No. of Periods:</label>
                                        <select class="form-control" id="sel1" name="periods">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                <% } %>
                            <% } %>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="status" class="text-danger">Other Classes</label>
                            <br />
                            <% for(let i=0; i < classes.length; i++) { %>
                                <div class="col-sm-3 radio-group">
                                    <input type="checkbox" name="class" value="<%= classes[i]._id %>"> &nbsp;
                                    <span class="text-danger"> <%= classes[i].name %></span>
                                    <label for="sel1">No. of Periods:</label>
                                    <select class="form-control" id="sel1" name="periods">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            <% } %>
                        </div>

                        <div class="col-sm-12">
                            <button type="submit" name="submit" value="submit" class="btn btn-primary">Update Subject</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- <% include ./partials/footer.ejs %> -->
    <script src="assets/ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="assets/maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
</body>

</html>
